*.pyc
*.so
build/*
dist/*
pymc.egg-info/
UNKNOWN.egg-info/
docs/_build
MANIFEST
develop
testresults
*.tmproj
*.py.bak
.DS_Store
pymc/*.c
debian/files
debian/python-pymc*
debian/debhelper.log
debian/postinst.debhelper
debian/prerm.debhelper
debian/tmp*
